.nav-item {
    font-family: 'Georgia'
}

.h1 {
    font-family: 'Georgia';
    font-size: 'larger';
    color:black;
}

.container {
    font-family: 'Georgia';
    color:black;
    background-color: #f8f8f8;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}