
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
  displaY: block;
  width: 33.33%;
  text-align: center;
  color: black;
  font-family: 'Calibri';
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
}